h3{
    text-align: center;
}

label{
    margin: 0px;
}

p{
    text-align: justify;
}

p.title{
    font-size: 18px;
}

p.title-fill{
    font-size: 18px;
    text-decoration: underline;
    color: royalblue;
}

.col-md-6.surveygrid{
    padding-right: 50px;
}

.error-template {
    padding: 40px 15px;text-align: center;
}

.error-actions {
    margin-top:15px;margin-bottom:15px;
}

.error-actions .btn {
    margin-right:10px;
}