h3{
    text-align: center;
    margin-right: 100px;
}

h3.left-align{
    text-align: left;
}

label{
    margin: 0px;
}

p{
    text-align: left;
}

p.title{
    font-size: 18px;
}

span.title-fill{
    font-size: 18px;
    text-decoration: underline;
    color: cornflowerblue;
}

p#right-align{
    text-align: right;
}

.col-lg-6.surveygrid{
    padding-left: 25px;
    padding-right: 25px;
}

.error-template {
    padding: 40px 15px;text-align: center;
}

.error-actions {
    margin-top:15px;margin-bottom:15px;
}

.error-actions .btn {
    margin-right:10px;
}

table th{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

table tr td#center-align{
    text-align: center;
}

table tr td#right-align{
    text-align: right;
}

.col-md-12.pertanyaan{
    margin-bottom: 5px;
    border-bottom: 1px solid;
}

div.col-md-3.radio-button{
    text-align: right;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

/* cover */

.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: top;
}
.cover-container {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.lead {
    text-align: center;
}