h3{
    text-align: center;
    margin-right: 100px;
}

h3.left-align{
    text-align: left;
}

label{
    margin: 0px;
}

p{
    text-align: justify;
}

p.title{
    font-size: 18px;
}

p.title-fill{
    font-size: 18px;
    text-decoration: underline;
    color: royalblue;
}

p#right-align{
    text-align: right;
}

.col-md-6.surveygrid{
    padding-right: 50px;
}

.error-template {
    padding: 40px 15px;text-align: center;
}

.error-actions {
    margin-top:15px;margin-bottom:15px;
}

.error-actions .btn {
    margin-right:10px;
}

table th{
    text-align: center;
}

table tr td#center-align{
    text-align: center;
}

table tr td#right-align{
    text-align: right;
}

.col-lg-12.pertanyaan{
    margin-bottom: 5px;
    border-bottom: 1px solid;
}